{{ 'thankyou.css' | asset_url | stylesheet_tag }}
<script>
    console.log('test');
      document.location.href = "https://tsumugi-shop.myshopify.com/discount/TSUMUGI2022?redirect=/pages/thanksforanswers";

    </script>
<div class="thankyou__wrapper">
<div class="thankyou">
    <h2 class="thankyou__ttl">アンケートのご協力ありがとうございました。</h2>
    <p class="thankyou__txt">クーポンコード</p>
    <p class="thankyou__coupon"><span>TSUMUGI2022</span></p>
    <p class="thankyou__note">＊このページのみの表示です。</p>
</div>
<div class="thankyou__blc2">
<p class="thankyou__note">※商品への割引となります。配送料は割引になりません。</p>
<p class="thankyou__note">※決済画面にて、割引後の値段をご確認いただけます。</p>
<p class="thankyou__note">※お一人様1回限りのキャンペーンとさせていただきます。</p>
<p class="thankyou__note">※使用期限は2022年9月30日までとなっております。</p>
</div>
</div>

<div class="thankyou__blc">
    <p class="thankyou__txt2">クーポンコードの入力方法</p>
    
    <div class="thankyou__img">
    <img src="{{ 'howto.png' | asset_url }}" alt="15%OFF" width="auto" height="auto" loading="lazy">
    <p class="thankyou__note">※決済画面にて</p>
 
</div>

<img src="{{ 'mainImg2_01.png' | asset_url }}" alt="15%OFF" width="auto" height="auto" loading="lazy">
</div>