

<section id="tauthor" class="tauthor">
    <div class="tauthor__inner">
        <figure class="tauthor__img">
            <img src="{{ 'author.png' | file_url }}" alt="TSUMUGIアドバイザー 石岡真実/フリーランスディレクター">
        </figure>
        <div class="tauthor__profile--wrapper">
            <p class="tauthor__profile"><span>
                TSUMUGIアドバイザー</span><br>
                石岡真実/フリーランスディレクター</p>
            <p class="tauthor__profile--txt">某アパレル会社で10年、店頭からヴィジュアルプレスを経て現在は様々なブランドとのコラボレーションやPRを手掛ける。<br>一児の男の子のママ。シンプルで着回しやすいファッションと、自然体で飾らない人柄と、等身大のライフスタイルが支持を集めている</p>
            <a href="https://www.instagram.com/mami_ishioka/" target="_blank" class="tauthor__profile--insta">
                <span class="tauthor__profile--instaimg">Insta</span>
                <span>mami_ishioka</span>
            </a>
        </div>
    </div>
</section>
