@use "layout/*";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500&display=swap');

body{
    font-family: 'Shippori Mincho','Outfit', sans-serif !important;
    color: red !important;

}
p{
    font-family: 'Shippori Mincho','Outfit', sans-serif !important;

}
.tsugumi__concept--subttl{
    color: #F00!important;
}